<footer> 
   <section>
    <span><br><a href="https://github.com/gsrockwell910" target="_blank">GitHub</a>
    <a href="https://gsrockwell910.github.io/" target="_blank">GitHub.io</a>
    <a href="https://gsrockwell910.github.io/web115/" target="_blank">WEB115.io</a>
    <a href="https://www.codecademy.com/profiles/GSRockwell910" target="_blank">Codecademy</a>
    <a href="https://www.freecodecamp.org/GSRockwell910" target="_blank">freeCodeCamp</a>
    <a href="https://jsfiddle.net/u/gsrockwell910/fiddles/" target="_blank">JSFiddle</a>
    <a href="http://www.linkedin.com/in/gsrockwell910/" target="_blank">LinkedIn</a></span>
   </section>

   <section>
    <span><strong>Created by <a href="https://www.freecodecamp.org/certification/GSRockwell910/responsive-web-design" target="_blank">gsrockwell910</a>&copy;2024, certified in Responsive Web Design</strong></span>
    <span><em>Clear Solutions, Strong Foundations</em>.</span>
   </section>
</footer>