<header>
  <h1><sub><img src="./images/rhino_vision.png?" alt="RhinoVision Software Logo"></sub><sup>Gavin Rockwell's RhinoVision Software</sup></h1>
</header>

<nav>
<ul>
  <li><a href="index.html">Home</a></li>
  <li><a href="introduction.html">Introduction</a></li>
  <li><a href="contract.html">Contract</a></li>
  <li><a href="brand.html">Brand</a></li>
  <li>
    <button onclick="toggleMenu()" class="dropdownButton">FizzBuzz <span class="dropdownButton triangle">&#9660;</span></button>
    <ul id="dropdown">
      <li><a href="fizzbuzz0.html" class="dropdown-link">FizzBuzz0</a></li>
      <li><a href="fizzbuzz1.html" class="dropdown-link">FizzBuzz1</a></li>
      <li><a href="fizzbuzz2.html" class="dropdown-link">FizzBuzz2</a></li>
      <li><a href="fizzbuzz3.html" class="dropdown-link">FizzBuzz3</a></li>
    </ul>
  </li>
</ul>
</nav>