<header>
  <h1>RhinoVision Software</h1>
</header>

<nav>
<ul>
  <li><a href="index.html">Home</a></li>
  <li><a href="introduction.html">Introduction</a></li>
  <li><a href="contract.html">Contract</a></li>
  <li><a href="brand.html">Brand</a></li>
  <li>
    <button onclick="toggleMenu()" class="dropdownButton">FizzBuzz&darr;</button>
    <ul id="dropdown">
      <li><a href="fizzbuzz0.html">FizzBuzz0</a></li>
      <li><a href="fizzbuzz1.html">FizzBuzz1</a></li>
      <li><a href="fizzbuzz2.html">FizzBuzz2</a></li>
      <li><a href="fizzbuzz3.html">FizzBuzz3</a></li>
    </ul>
  </li>
</ul>
</nav>