/* Body Div */
body > div {
  display: flex;
  flex-direction: column;
  max-width: 75%;
  align-self: center;
  justify-self: center;
}

/* Div inside main */
main div {
  display: flex;
  flex-direction: column;
}

/* P styles */
p {
  background: var(--primary-color3);
  color: var(--primary-color4);
  padding: 0%;
  margin: 0% auto;
}

/* Div that contains uls */
body > main:nth-child(3) > div:nth-child(1) > div:nth-child(2) {
  display: flex;
  flex-direction: column;
}

/* Color Ul styles */
div > ul:first-of-type {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: center;
}

/* Color Ul */
div > ul > li[data-color]{
  padding: 2%;
  max-width: 100%;
}

/* Font Ul */
div > ul:nth-of-type(2) > li {
  padding: 1% 2%;
}

/* Every h2 except for the header */
h2[data-location="main"] {
  margin-top: 5%;
  margin-bottom: 0%;
}

hr {
  color: var(--primary-color4);
  min-width: 100%;
  margin-bottom: 3%;
}

/* First li items */
li[data-color="prim1"] {
  background-color: var(--primary-color1);
}

li[data-color="prim2"] {
  background-color: var(--primary-color2);
  color: var(--primary-color3);
}

li[data-color="prim3"] {
  background-color: var(--primary-color3);
}

li[data-color="prim4"] {
  background-color: var(--primary-color4);
  color: var(--primary-color3);
}

li[data-color="sec1"] {
  background-color: var(--secondary-color1);
  color: var(--secondary-color2);
}

li[data-color="sec2"] {
  background-color: var(--secondary-color2);
  color: var(--secondary-color1)
}

/* Selects Fonts and Color Scheme uls */
body > div:nth-child(3) > main:nth-child(1) > div:nth-child(1) > div:nth-child(2) > ul {
  list-style-type: none;
  margin: 0%;
  padding: 0%;
}

/* fonts used */
ol {
  list-style-type: circle;
}

/* Image styling */
img {
 max-width: 25%;
 margin: 3% auto 2% auto;
}